<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.earnest.homework.selenium.tests.catalog.CatalogPageTestNGTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
